html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #383e4e;
  color: #fff;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
@media screen and (max-width: 574px) {
  html {
    font-size: 13px;
  }
}
